body {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  display: block;
  margin-bottom: 15%;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 17%;
}

a {
  margin-top: 10px;
}

#country {
  margin-bottom: 15%;
  width: 100%;
}

.error {
  border: 1px solid red;
}

.left-div {
  margin-right: 200px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 80vh;
}

.inputWithIcons input {
  padding-left: 29px;
}

.inputWithIcons select {
  padding-left: 29px;
}

.inputWithIcons {
  position: relative;
}

.inputWithIcons i {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1px 5px;
  background-color: #eeeeee;
  border: 1px solid;
}

/* Media Queries for Responsivness */

@media screen and (max-width: 650px) {
  .left-div {
    margin-right: 100px;
  }
}

@media screen and (max-width: 430px) {
  .left-div {
    margin-right: 10px;
  }
}
